.stats-container {
    background-color: #a82d49;
}
.stats-container > .container > div {
    font-size: 36px;
}
.stats-container > .container > div > span {
    font-size: 12px;
    letter-spacing: 2px;
}