.video-container {
    background-image: url("../assets/video-section.jpg");
    background-size: cover;
    min-height: 400px;
    background-position: center;
}
.video-container h2 {
    color: #a82d49 !important;
    /* font-size: 35px !important; */
    line-height: 1.3 !important;
}
.video-container p {
    color: #555;
}
.video-container a {
    color:#43121d;
    text-decoration: none;
    transition: 0.3s;
}
.video-container a svg {
    transition: 0.3s;
}
.video-container a:hover {
    color: #a82d49;
}
.video-container a:hover svg {
    color: #a82d49;
}